.contact-block {
	background-color: $dark;
	position: relative;
	z-index: 11;
	.container {
		padding: 115px 0 90px 0;
		padding-left: 12%;
		padding-right: 12%;
		@extend %clearfix;
		@include media('<tablet') {
        	padding: 35px 0 20px 0;
        	padding-left: 12%;
			padding-right: 12%;
    	}
	}
	.social-block {
		width: 100%;
		float: left;
		.social-list {
			text-align: center;
			li {
				a {
					color: $gray;
				}
			}
		}
	}
}

.flex-holder {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 90px;
	@include media('<desktop') {
        flex-direction: column;
    }
}

.contact-info-side {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media screen and (max-width: 1261px) {
			width: 48%;
	}
	@include media('<desktop') {
		width: 100%;
    }
	h3, a, p, address {
		color: $gray;
		text-decoration: none;
	}
	h3{
		font-size: 48px;
		font-weight: 500;
		line-height: 1;
		@media screen and (max-width: 1431px) {
			font-size: 40px;
        }
        @include media('<widescreen') {
           font-size: 30px;
        }
	}
	p {
		font-weight: 400;
		@media screen and (max-width: 1431px) {
			font-size: 20px;
        }
        @include media('<widescreen') {
           font-size: 16px;
        }
        @include media('<tablet') {
           font-size: 13px;
        }
	}
	.contact-info {
		.tel-block, .mail-block {
			padding: 0;
		}
		.tel-block {
			a {
				font-weight: 900;
				font-size: 30px;
				@media screen and (max-width: 1431px) {
					font-size: 24px;
        		}
        		@include media('<widescreen') {
           			font-size: 20px;
        		}
        		@include media('<tablet') {
           			font-size: 16px;
        		}
			}
		}
		.mail-block {
			a {
				font-weight: 700;
				font-size: 30px;
				@media screen and (max-width: 1431px) {
					font-size: 24px;
        		}
        		@include media('<widescreen') {
           			font-size: 20px;
        		}
        		@include media('<tablet') {
           			font-size: 16px;
        		}
			}
		}
		address {
			width: 100%;
			font-size: 30px;
			font-weight: 700;
			line-height: 1;
			white-space: nowrap;
			@media screen and (max-width: 1431px) {
				font-size: 24px;
        	}
        	@include media('<widescreen') {
           		font-size: 20px;
        	}
        	@include media('<tablet') {
           		font-size: 16px;
        	}
        	@include media('<phone') {
           		font-size: 14px;
        	}
		}
	}
}

.form-side {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media screen and (max-width: 1261px) {
			width: 48%;
	    }
	@include media('<desktop') {
		width: 100%;
		text-align: center;
    }
	.form-control {
		padding: 15px 30px;
		width: 100%;
		margin-bottom: 25px;
		border: 1px solid darken( $gray, 50% );
		background-color: inherit;
		color: $gray;
		@include media('<widescreen') {
           		font-size: 20px;
        	}
        	@include media('<tablet') {
           		font-size: 16px;
        	}
		@include placeholder {
    	color: $gray;
    	font-family: $base-font-serif;
    	font-style: italic;
    	font-size: 24px;
    		@media screen and (max-width: 1431px) {
				font-size: 20px;
        	}
        	@include media('<widescreen') {
           		font-size: 16px;
        	}
        	@include media('<tablet') {
           		font-size: 14px;
        	}
   		}
	}
	textarea {
		margin-bottom: 40px !important;
		resize: none;
	}
	button {
		width: 100%;
		padding: 15px 30px;
	}
}

.btn {
	background-color: $turquoise;
	text-align: center;
	border: 0;
	font-weight: 500;
	font-size: 28px;
	color: $gray;
	transition: all .5s;
		@media screen and (max-width: 1431px) {
			font-size: 24px;
	    }
	    @include media('<widescreen') {
           	font-size: 20px;
        }
        @include media('<tablet') {
           	font-size: 16px;
        }
	&:hover {
		background-color: darken( $gray, 50% );
		color: $white;
	}
}

.divider {
	width: 90%;
	height: 1px;
	background-color: darken( $gray, 50% );
	margin: 49px 0 80px 0;
	@include media('<widescreen') {
        font-size: 20px;
    }
    @include media('<tablet') {
        margin: 20px 0 25px 0;
    }
}

@media screen and (max-width: 991px) {
          	flex-direction: column;
          	padding: 26px 15px;
        }