.promo-box {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    position: relative;
    z-index: 10;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 15;
        background-color: rgba(0, 0, 0, .3);
        pointer-events: none;
    }
    .glitch {
        position: absolute;
        bottom: 166px;
        left: 0;
        right: 0;
        margin: 0 auto;
        letter-spacing: 4.5px;
        font-weight: 400;
        z-index: 16;
        font-size: 36px;
        text-transform: uppercase;
        padding: 0 15px;
        @include media('<desktop') {
            font-size: 30px;
            animation: none;
            height: auto;
            letter-spacing: 2px;
        }
        @include media('<tablet') {
            font-size: 22px;
            bottom: auto;
            top: 65%;
            letter-spacing: 1px;
            transform: translateY(-50%);
        }
    }
    .video-holder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .scroll-down {
        @include animate(border-color);
        width: 140px;
        height: 70px;
        display: inline-block;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        animation: arr-down 2s infinite ease-in-out alternate-reverse;
        border-color: $white;
        z-index: 16;
        @include media('<desktop') {
            height: 50px;
        }
        @include media('<tablet') {
            height: 30px;
        }
        @include media('<phone') {
            height: 20px;
        }
        &:hover {
            border-color: $orange;
        }
        &:after {
            content: '';
            position: absolute;
            width: 140px;
            height: 140px;
            bottom: 29px;
            border: 3px solid white;
            border-color: inherit;
            transform: rotate(45deg) translateX(0);
            transform-origin: 50% 50%;
        }
    }
}

.full-screen-video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include media('<desktop') {
        display: none;
    }
    .video-js {
        width: 100%;
        height: 100vh;
    }
}

@keyframes arr-down {
    0% {
        bottom: 50px;
    }
    20% {
        bottom: 10px;
    }
    60% {
        bottom: 10px;
    }
    100% {
        bottom: 50px;
    }
}
