.promo-box {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    position: relative;
    z-index: 10;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 15;
        background-color: rgba(0, 0, 0, .3);
        pointer-events: none;
    }
    .glitch {
        position: absolute;
        bottom: 200px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 16;
        font-size: 36px;
        text-transform: uppercase;
    }
    .video-holder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .scroll-down {
        @include animate(border-color);
        width: 140px;
        height: 70px;
        display: inline-block;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        animation: arr-down 2s infinite ease-in-out alternate-reverse;
        border-color: $white;
        z-index: 16;
        &:hover {
            border-color: $orange;
        }
        &:after {
            content: '';
            position: absolute;
            width: 140px;
            height: 140px;
            bottom: 29px;
            border: 3px solid white;
            border-color: inherit;
            transform: rotate(45deg) translateX(0);
            transform-origin: 50% 50%;
        }
    }
}

.full-screen-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .video-js {
        width: 100%;
        height: 100vh;
    }
}

main {
    background-color: $white;
    padding-top: 0vh;
    position: relative;
    z-index: 11;
}

@keyframes arr-down {
    0% {
        bottom: 50px;
    }
    20% {
        bottom: 10px;
    }
    60% {
        bottom: 10px;
    }
    100% {
        bottom: 50px;
    }
}
