#wrapper {
    overflow: hidden;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

.hidden {
    font-size: 0;
    line-height: 0;
    opacity: 0;
    width: 1px;
    height: 1px;	    
}
