#footer {
	position: relative;
	z-index: 11;
	.container {
		@extend %clearfix;
		position: relative;
	}
	.dark {
		background-color: $dark;
	}
	.img-bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 50%;
		height: 100%;
		background-position: 50% 50%;
		background-size: cover;
		@include media('<phone') {
           width: 40%;
        }
	}
	.footer-logo {
		position: absolute;
		left: 0;
		top: 60px;
	@include media('<desktop') {
           width: 160px;
           height: 50px;
        }
    @include media('<phone') {
           width: 110px;
           height: 35px;
        }
	}
}

.full-width {
	max-width: 100%;
}

.right-side {
	margin-left: 50%;
	padding-left: 90px;
	padding-top: 60px;
	@include media('<widescreen') {
           padding-left: 70px;
           padding-top: 50px;
        }
    @include media('<desktop') {
           padding-left: 35px;
           padding-top: 40px;
        }
    @include media('<phone') {
           padding-left: 10px;
           padding-top: 20px;
           margin-left: 40%;
        }
	.bottom-side {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding-bottom: 100px;
		@include media('<widescreen') {
           padding-bottom: 70px;
        }
		@include media('<desktop') {
           	flex-direction: column;
           	padding-bottom: 35px;
        }
		a, p {
			color: $white;
			font-size: 16px;
			font-weight: 400;
			@include media('<tablet') {
           		font-size: 13px;
        	}
		}
		a {
			text-decoration: none;
		}
	}
}

.footer-nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	text-transform: uppercase;
	margin-bottom: 100px;
	@include media('<widescreen') {
           margin-bottom: 70px;
        }
    @include media('<desktop') {
           margin-bottom: 35px;
        }
    @include media('<tablet') {
           display: none;
        }
	@extend %listreset;
	a {
		color: $white;
		text-decoration: none;
		font-size: 20px;
		font-weight: 500;
		transition: color .5s;
		@include media('<widescreen') {
           font-size: 16px;
        }
        @include media('<widescreen') {
           font-size: 14px;
        }
		&:hover {
				color: $orange;
			}
	}
	li {
		display: inline-block;
	}
}

.contact-info {
	display: flex;
	width: 50%;
	flex-direction: column;
	@include media('<desktop') {
           width: 100%;
           margin-bottom: 20px;
        }
	.tittle {
		display: inline-block;
		font-size: 20px;
		font-weight: 500;
		color: $orange;
		margin-bottom: 30px;
		@include media('<tablet') {
           font-size: 16px;
        }
	}
	.tel-block, .mail-block {
		position: relative;
		display: flex;
		flex-direction: column;
		padding-left: 35px;
		margin-bottom: 25px;
		@include media('<desktop') {
           	padding-left: 30px;
        }
		@include media('<tablet') {
           	padding-left: 25px;
        }
		.icon {
			position: absolute;
			top: 3px;
			left: 0;
			color: $orange;
			font-size: 20px;
			@include media('<desktop') {
           		font-size: 16px;
        	}
			@include media('<tablet') {
           		font-size: 13px;
        	}
		}
	}
	.mail-block {
		a {
			transition: color .5s;
			&:hover {
				color: $orange;
			}
		}
	}
	address {
		p {
			margin: 0;
			color: $orange;
		}
	}
}

.bottom-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.social-list {
	@extend %listreset;
	text-align: right;
	margin-bottom: 25px;
	@include media('<desktop') {
   		text-align: left;
	}
	li {
		display: inline-block;
		margin-left: 15px;
	}
	a {
		text-decoration: none;
		i {
			font-size: 32px;
			transition: color .5s;
			@include media('<widescreen') {
           		font-size: 24px;
        	}
        	@include media('<phone') {
           		font-size: 16px;
        	}
			&:hover {
				color: $orange;
			}
		}
	}
}

.copy-row {
	text-align: right;
	white-space: nowrap;
	@include media('<desktop') {
   		text-align: left;
	}
	@include media('<phone') {
   		white-space: normal;
	}
	p {
		margin: 0;
	}
}


