// Colors
$black:                                    #151515;
$white:                                    #fff;
$dark:                                     #333;
$dark1:                                    #1c1c1a;
$gray:                                     #eaeaea;
$gray-light:                               #dfdddf;
$turquoise:                                #1d7c7b;
$orange:                                   #ee9b11;


$base-font-sans-serif:                     'Lato','Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif:                          'Lora','Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color:                           $black ;
$base-background-color:                     $gray-light;
$base-font-size:                            24px;
$base-line-height:                          1.50; 
$base-font-family:                          $base-font-sans-serif ;

$vertical-rhythm:                           ($base-line-height * 1em);

$base-min-width:                            320px;

// Liks
$base-link-color:                           $turquoise;

// Buttons
$btn-color:                                 $white ;
$btn-background:                            $turquoise ;
$btn-padding:                               8px;
$btn-font-size:                             inherit ;

// Forms
$form-element-padding:                      $btn-padding ;
$form-element-border-color:                 rgba($gray, .8);
$form-element-focus-border-color:           $gray;
$placeholder-color:                         rgba($gray, .8);

// Headers
$h1-font-size:                              48px ;
$h2-font-size:                              42px ;
$h3-font-size:                              36px ;
$h4-font-size:                              20px ;
$h5-font-size:                              17px ;
$h6-font-size:                              15px ;

$headings-font-family:                      inherit ;
$headings-color:                            inherit ;

$animation-speed:                            0.3s;
 
$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'widescreen-lg': 1400px,
  'widescreen-xl': 1500px,
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);