.text-img-lg {
    @extend %clearfix;
    padding: 130px 0 0 0;
    position: relative;
    margin-bottom: 212px;
    @include media('<widescreen') {
        padding: 100px 0 0 0;
        margin-bottom: 100px;
    }
    @include media('<desktop') {
        padding: 70px 0 0 0;
        margin-bottom: 70px;
    }
    @include media('<tablet') {
        padding: 50px 0 0 0;
        margin-bottom: 10px;
    }
    .img-holder {
        width: 50%;
        float: left;
        position: relative;
        z-index: 19;
        @include media('<phone') {
            width: 100%;
        }
        img {
            width: 100%;
            vertical-align: top;
        }
    }
    .text-holder {
        width: 50%;
        float: left;
        position: relative;
        padding-top: 138px;
        z-index: 20;
        @include media('<widescreen-xl') {
            padding-top: 50px;
        }
        @include media('<tablet') {
            width: 100%;
        }
        @include media('<widescreen') {
            padding-top: 20px;
        }
        .logo-holder {
            margin-bottom: 62px;
            padding-left: 50px;
            @include media('<widescreen-xl') {
                margin-bottom: 10px;
            }
            @include media('<tablet') {
                position: absolute;
                top: -70px;
                right: 20px;
                max-width: 40%;
            }
            @include media('<phone') {
                top: -50px;
                max-width: 55%;
            }
            img {
                vertical-align: top;
                @include media('<tablet') {
                    width: 100%;
                }
            }
        }
        .text-box {
            padding: 57px 55px 39px 99px;
            margin-left: -50px;
            background-color: rgba($white, .15);
            @include media('<widescreen-xl') {
                padding: 20px 40px 20px 70px;
            }
            @include media('<widescreen') {
                padding: 10px 20px 10px 70px;
                font-size: 18px;
            }
            @include media('<tablet') {
                margin-left: 0;
                padding: 20px 20px 10px;
                font-size: 16px;
            }
            @include media('<phone') {
                font-size: 14px;
            }
        }
    }
}

.quad-box {
    @extend %clearfix;
    padding-left: 63px;
    margin-bottom: 133px;
    @include media('<desktop') {
        padding-left: 0;
        margin-bottom: 70px;
    }
    @include media('<tablet') {
        margin-bottom: 50px;
    }
    @include media('<phone') {
        margin-bottom: 30px;
    }
    .h3 {
        text-align: center;
        display: inline-block;
        padding: 22px 11px 24px;
        min-width: 592px;
        text-transform: uppercase;
        background-color: rgba($turquoise, .9);
        color: $white;
        margin: 0 0 0 78px;
        font-weight: 500;
        letter-spacing: 3.5px;
        position: relative;
        z-index: 550;
        @include media('<widescreen-lg') {
            margin: 0;
            min-width: 400px;
        }
        @include media('<widescreen') {
            letter-spacing: 1px;
        }
        @include media('<desktop') {
            letter-spacing: 0;
            font-size: 24px;
            padding: 10px;
        }
        @include media('<tablet') {
            min-width: 0;
        }
    }
    &-row {
        @extend %clearfix;
        margin-top: -49px;
        @include media('<desktop') {
            margin-top: -30px;
        }
        img {
            vertical-align: top;
        }
        &:first-child {
            padding: 0 62px;
        }
        .cell-holder {
            float: left;
            width: 51.8%;
            min-height: 500px;
            background-size: cover;
            background-position: 50% 50%;
            @include media('<desktop') {
                min-height: 400px !important    ;
            }
            @include media('<tablet') {
                min-height: 300px !important    ;
            }
          
            @include media('<phone') {
                width: 100% !important;
                min-height: 180px !important    ;
                margin-right: 0 !important;
            }
        }
        .zix4 {
            width: 52.5%;
            @include media('<tablet') {
                margin: 0 1% 10px 0;
                width: 49%;
                float: left;
            }
        }
        .zix1 {
            width: 48%;
            margin-top: 50px;
            margin-left: -70px;
            @include media('<widescreen') {
                margin-top: 10px;
                margin-left: -30px;
            }
            @include media('<tablet') {
                margin: 0 0 10px 1%;
                width: 49%;
                float: left;
            }
        }
        .zix5 {
            width: 45%;
            margin-left: 3%;
            margin-top: -65px;
            min-height: 450px;
            @include media('<widescreen') {
                margin-left: 1%;
                margin-top: -59px;
            }
            @include media('<tablet') {
                margin: 0 1% 10px 0;
                width: 49%;
                float: left;
            }
        }
        .zix6 {
            @include media('<tablet') {
                margin: 0 0 10px 1%;
                width: 49%;
                float: left;
            }
            @include media('<phone') {
                min-height: 0;
            }
        }
    }
    .text-holder {
        margin-top: -27px;
        background-color: rgba($white, .15);
        padding: 63px 70px 63px 112px;
        margin-left: -51px;
        @include media('<widescreen') {
            padding: 20px 20px 40px 40px;
            margin-left: -30px;
        }
        @include media('<tablet') {
            margin: 0;
            padding: 10px 10px 10px 20px;
            font-size: 14px;
            min-height: 300px;
            line-height:    1.2;
        }
        @include media('<phone') {
            min-height: 0;
        }
    }
    .default-list {
        @extend %listreset;
        li {
            position: relative;
            padding: 0 0 4px 4px;
            @include media('<desktop') {
                font-size: 18px;
            }
            @include media('<tablet') {
                font-size: 16px;
            }
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: -10px;
                width: 6px;
                margin-top: -1px;
                height: 2px;
                background-color: $white;
            }
        }
    }
}
